<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen flex items-center justify-center bg-gray-100 font-mono">

<div class="bg-white p-8 rounded-xl shadow-lg w-full max-w-sm">

    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">
        Admin Login
    </h2>

    <!-- LOGIN FORM -->
    <form th:action="@{/admin/login}" method="post">


    <input type="text"
               name="username"
               placeholder="Username"
               required
               class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"/>

        <input type="password"
               name="password"
               placeholder="Password"
               required
               class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"/>

        <button type="submit"
                class="w-full py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition font-semibold">
            Login
        </button>
    </form>

    <!-- ERROR -->
    <div th:if="${param.error}"
         class="mt-4 text-center text-red-600 font-semibold">
        Invalid username or password
    </div>

    <!-- LOGOUT -->
    <div th:if="${param.logout}"
         class="mt-4 text-center text-green-600 font-semibold">
        Logged out successfully
    </div>

</div>

</body>
</html>
